.ColorDetails {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ColorDetails-text {
    font-size: 70px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.ColorDetails-homelink a {
    color: black;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}
