#colorName {
    font-family: inherit;
    width: 40%;
}

#colorValue {
    width: 15%;
}

#NewColorForm-add-btn {
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: bold;
}

.NewColorForm {
    height: 100vh;
    background-image: url("./images/rainbow.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewColorForm-heading {
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
}

.NewColorForm-content {
    margin: 15px;
    width: 50%;
}

.NewColorForm-form {
    background-color: cornsilk;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 30px;
}

.NewColorForm-full-input {
    margin-left: 30px;
    margin-bottom: 20px;
}

.NewColorForm-form input {
    margin-left: 15px;
}

.NewColorForm-backlink a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
